<div class="custom-alert" id="custom-alert">
    <div class="custom-alert-content">
      <span class="close-button" onclick="closeCustomAlert()">&times;</span>
      <p id="custom-alert-message">Mensaje de alerta personalizado.</p>
    </div>
  </div>
  
  <div id="confirmationModal" class="modal">
    <div class="modal-content">
      <h4>Confirmar Eliminación</h4>
      <p>¿Estás seguro de que deseas eliminar esta ubicación?</p>
      <div class="modal-buttons">
        <button id="confirmDelete" class="modal-button modal-confirm">Eliminar</button>
        <button id="cancelDelete" class="modal-button modal-cancel">Cancelar</button>
      </div>
    </div>
  </div>
  
  <div id="delete-success-message" class="delete-success-message hidden">
    Ubicación eliminada exitosamente.
  </div>
  