{% load static %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'admin/css/styles.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.10.0/proj4.js" integrity="sha512-e3rsOu6v8lmVnZylXpOq3DO/UxrCgoEMqosQxGygrgHlves9HTwQzVQ/dLO+nwSbOSAecjRD7Y/c4onmiBVo6w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/wellknown@0.5.0/wellknown.min.js"></script>
    <title>Show Map</title>
  </head>
  <body>
    <div id="map-container">
      <div id="location-selector">
        <select id="locations" class="custom-select"></select>
        <div>
          <div id="map-title">Valparaíso - Chile</div>

          <label for="locations">Selecciona una ubicación:</label>
        </div>
        <div id="div-button">
          {% comment %} <button id="create-location-button" class="btn-success">Crear Nueva Ubicación</button> {% endcomment %}
          <button id="show-location-button" class="btn-primary">Mostrar Ubicación</button>
          <button id="show-all-locations-button" class="btn-secondary">Mostrar Todas las Ubicaciones</button>
          <button id="show-polygon-button" class="btn-info">Mostrar Polígono</button>
        </div>
      </div>
      <div id="map"></div>
    </div>

    {% comment %} <script src="{% static 'admin/js/crud.js' %}"></script> {% endcomment %}
    <script src="{% static 'admin/js/map.js' %}"></script>
  </body>
</html>
