/* Estilos globales */
body {
    color: var(--black-00);
    font-family: 'ABeeZee', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--black-80);
}

/* Estilos para iframes */
iframe {
    overflow: clip !important;
    border-width: 2px;
    border-style: none;
    border-image: none;
}

/* Estilos para select y div */
select,
div {
    font-family: 'ABeeZee', sans-serif;
}

h2 {
    margin-block: 5px;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: small;
}

input,
select {
    color: var(--black-00);
    width: -webkit-fill-available;
    padding: 8px;
    margin-bottom: 5px;
    box-sizing: border-box;
    background-color: var(--black-80);
    border: none;
    border-radius: 4px;
    font-family: 'ABeeZee', sans-serif;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 1.35);
}

/* Estilos para el botón de submit */
input[type="submit"] {
    padding: 10px;
    background-color: #4CAF50 !important;
    color: var(--black-00) !important;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-size: larger;
    font-weight: bold;
    transition: background-color 0.3s;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 1.35);
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #69d46c !important;
    transition: box-shadow 0.5s;
    box-shadow: 0px 0px 5px 5px #4CAF50 !important;
}

#div-monospace {
    font-family: monospace;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.selected path {
    stroke: var(--cyan-100);
    fill: none;    
}

.selected {
    filter: drop-shadow(0 0 6px var(--cyan-100)); /* Añadir sombra roja */    
    transition: 1s; /* Aplicar transición al cambiar propiedades */
}

.body-light .selected {
    filter: drop-shadow(0 0 6px var(--red-100)); /* Añadir sombra roja */    
    transition: 1s; /* Aplicar transición al cambiar propiedades */
}

/* Aplicar transición al quitar la clase .selected */
#tipology-percentages-info img {
    transition: 1s;
}