#tipology-percentages-info {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px 5px;
    grid-template-areas:
        ". . . ."
        ". . . .";
    justify-items: center;
    padding-inline: 10%;
}

/* Aplicar transición al quitar la clase .selected */
#tipology-percentages-info img {
    transition: 0.5s;
}

#tipology-percentages-info p {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1fr;
    gap: 5px 5px;
    grid-template-areas: ". .";
    align-items: center;
    /* margin-block-start: 0.5em;
    margin-block-end: 0.5em; */
}